#remote li {
	background-image: url('../icons/cancel.png');
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-left: 15px;
}

#remote-keys > div {
   	text-align: center;
}
#remote-keys > div > span {
	display: inline-block;
	height: 16px;
	margin: 2px;
	padding: 4px;
	min-width: 16px;
	background-color: #888;
	color: white;
	border-radius: 5px;

   	text-align: center;
	vertical-align: middle;
}
#remote-keys img {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	text-align: center;
	border: 0px none;
	height: 16px;
}
